body{
    overflow: hidden;
}
.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100vw;
    padding: 15px 40px 0px 40px;
    box-sizing: border-box;
}
.fade-out{
    opacity:0;
    transition: all 0.3s 0s;
    display: none;
    visibility: hidden;
}
.fade-in{
    opacity:1;
    transition: all 0.3s 0s;
}
.about-excel{
    position: absolute;
    top: 15vh;
    left:50%;
    transform: translateX(-50%);
    height: 80vh;
    width: 90vw;
    border-radius: 30px;
    background-color: #f1f1f1ee;
    box-shadow: 0px 0px 15px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
    font-family: Montserrat;
    z-index: 2;
}
.close{
    position: absolute;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
}
.close:hover{
    cursor: pointer;
}
.about-excel p{
    margin-top: 30px;
    padding:0 200px;
    text-align: center;
    color:rgb(1, 0, 39);

}
.about-excel h1{
    text-align: center;
}
.aebutton{
    position: absolute;
    top:120px;
    right: 50px;
    color: black;
    font-size: 24px;
    font-family: "Montserrat";
    z-index: 1;
}
.aebutton span{
    margin-left: 3px;
}
.aebutton:hover{
    cursor: pointer;
}
.excel-logo{
    height: 200px;
    display: block;
    margin: 0 auto;
}
.fade-out{
    opacity: 0;
}
a img{
    height: 70px;
    margin: 0 15px;
    -webkit-filter: drop-shadow(5px 5px 5px #888888);
    filter: drop-shadow(5px 5px 5px #888888);
}
.mec-text{
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    width: 120px;
    font-size: 14px;
    display: inline-block;
    transform: translateY(-10px);
}
.excellogos{
    float:right;
}
.excellogos:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
}

#Right-Cog-2{
    transform-origin: 1470px 800px;
}
#Left-Cog-1{
    transform-origin: 160px 440px;
}
#Left-Cog-2{
    transform-origin: 326px 960px;
}
#Left-Cog-3-Group{
    transform-origin: 616px 827px;
    will-change: transform;
}
#Center-Gears-Group{
    transform-origin: 1049px 597px;
    will-change: transform;
}
#Center-Gears-Group:hover{
  cursor: pointer;
}
#Center-Gears-Group:hover{
    cursor: pointer;
  }
#Logo-Circle{
    transform-origin: center;
    transition: all 0.3s;
}
#Logo-Circle:hover{
    cursor: pointer;
}
#Excel-Logo-Group:hover{
    cursor: pointer;
}
#Waveform-Path{
    transform-origin: 1049px 597px;
}
#Coming-Soon-Group{
    opacity:0;
}
#Excel-Title-Group{
    opacity:0;
    
}

@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 750px) {
    a img{
        height:60px;
    }
    .mec-text{
        width: 120px;
        font-size: 13px;
        transform: translateY(-8px);
    }
}
@media only screen and (max-width: 650px) {
    a img{
        height:50px;

    }
    .navbar{
        padding:15px 20px 0 20px; 
    }
    .mec-text{
        width: 110px;
        font-size: 11px;
        transform: translateY(-6px);
    }
}
@media only screen and (max-width: 550px) {
    a img{
        height:40px;
        margin: 0 10px;
    }
    .navbar{
        padding:10px 10px 0 10px; 
    }
    .mec-text{
        width: 90px;
        font-size: 10px;
        transform: translateY(-6px);
    }
}
@media only screen and (max-width: 380px) {
    a img{
        height:30px;
        margin: 0 8px;
    }
    .navbar{
        padding:10px 8px 0 8px; 
    }
    .mec-text{
        width: 80px;
        font-size: 8px;
        transform: translateY(-1px);
    }
}
@media only screen and (max-width: 1100px) {
    .aebutton{
        top:initial;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
        width: 100%;
        text-align: center;
    }
    .about-excel p{
        padding: 0 100px;
    }
    .close{
        height: 30px;
        width: 30px;
    }

}
@media only screen and (max-width: 800px) {
    .about-excel{
        top:12vh;
    }
    .about-excel p{
        padding: 0 50px;
        font-size: 20px;
    }
    /* .excel-logo{
        height: 170px;
    } */
    .about-excel h1{
        font-size: 30px;
    }
    .close{
        height: 20px;
        width: 20px;
    }
}
@media only screen and (max-width: 550px) {
    .about-excel{
        top:10vh;
    }
    .about-excel p{
        padding: 0 30px;
        font-size: 18px;
    }
    .about-excel h1{
        font-size: 28px;
    }
    /* .excel-logo{
        height: 150px;
    } */
    .close{
        height: 15px;
        width: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .about-excel{
        top:9vh;
    }
    .about-excel p{
        padding: 0 30px;
        font-size: 14px;
    }
    .about-excel h1{
        font-size: 26px;
    }
    /* .excel-logo{
        height: 120px;
    } */
    .close{
        height: 15px;
        width: 15px;
    }
}
@media only screen and (max-width: 480px) {
    #Right_Section{
        display:none;
        opacity:0;
        visibility: hidden;
    }
    #Left{
      display:none;
      opacity:0;
      visibility: hidden;
  }
}